@import '../details/mixin';

@media screen and (max-width: 900px) {
    /*barre de navigation*/
    .navbar{
        gap: 3em;

        .logo {
            width: 40%;
        }

        .navigation {
            gap: 2em;
            padding-right: 2.5em;

            a {
                font-size: 1.6em;
            }
        }
    }

    .cardsContainer {
        @include flexCCC;
        background: #FFFFFF;

        article, .card {
            width: 100%;
        }
    }

    .footer {
        @include flexCCC;
        height: 300px;
        margin: 0 -2em -1em -2em;

        
        .footerLogo {
            width: 22%;
        }

        .footerCopyRights {
            width: 160px;
            font-size: 1.1em;
            text-wrap: wrap;
        }
    }

    /****Page 404****/
    .errorPageContainer {
        img {
            width: 50%;
        }
        p {
            font-size: 2em;
            text-wrap: wrap;
            padding: 3em 6em;
        }
    }
}