@import '../details/mixin';

.banner {
    position: relative;
    min-height: 140px;
    border-radius: 25px;
    // height: 150px;
    // @include flexcc;
    // margin: 0 1em;
    // width: 100%;
    max-width: 80vw;
    margin: auto;
    display: grid;
    place-items: center;
    background-image: url('/src/assets/images/banner/Image1.png');

    &::before {
        position: absolute;
        border-radius: 25px;
        content: "";
        inset: 0;
        background-color: rgba(0,0,0,0.6);
    }

    .bannerText {
    //     display: block;
    //     position: absolute;
    //     top: 11em;
    //     z-index: 3;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 1.5em;
    //     // color: #FFFFFF;
    }

}