@import '../details/mixin';

.infoBanner,
.infoBanner,
.infoContent,
.infoBanner .titles {
    @include flexCCC;
}


.ficheContent {
    width: 90%;
    gap: 1.2em;

    .infoBanner {
        height: 400px;
        position: relative;
        border-radius: 25px;
        width: 100%;

        img {
            position: absolute;
            height: 100%;
            border-radius: 25px;
            z-index: -1;
        }

        .arrow {
            position: absolute;
            background-clip: text;
            background: transparent;
            color: #FFFFFF;
            font-size: 3.5em;
            border: none;
        }

        .arrowLeft {
            left: 10px;
        }

        .arrowRight {
            right: 10px;
        }
    }

    .infoContent {
        width: 100%;

        .infoHeader {
            width: 100%;
            text-align: right;
            @include flexRowSB;
            gap: 3em;

            .titleContent {
                width: 100%;
                text-align: left;
                font-family: Montserrat;
                font-weight: 500;
                display: flex;
                flex-direction: column;

                .titles {
                    @include flexColumn;
                    gap: .7em;

                    h1 {
                        font-size: 2em;
                        line-height: 35.34px;
                        color: #FF6060;
                        margin: 0;
                        font-weight: 500;
                    }

                    p {
                        font-size: 18px;
                        margin: 0;
                    }
                }

                .tags {
                    @include flexRow;
                    gap: 1em;

                    .tag {
                        background: #FF6060;
                        border-radius: 10px;
                        font-size: .8em;
                        font-family: Montserrat;
                        font-weight: 600;
                        color: #FFFFFF;
                        padding: 0.1em 2em;

                    }
                }
            }

            .userContent {
                width: 50%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                flex-direction: column;
                height: 100%;
                gap: 1.1em;

                .userInfo {
                    @include flexRow;
                    justify-content: flex-end;
                    align-items: center;
                    gap: .7em;
                    width: 100%;

                    .userName {
                        color: #FF6060;
                        font-size: 18px;
                        text-wrap: wrap;
                        width: 100px;
                        font-weight: 500;
                    }

                    .userPic {
                        border-radius: 100%;
                        width: 18%;
                        background-position: center;

                        img {
                            border-radius: 100%;
                            height: 80px;
                        }
                    }
                }

                .rating {
                    @include flexEndC;
                    width: 100%;

                    .ratingContent {
                        @include flexSaC;

                    }

                }

            }
        }

        .details {
            width: 100%;
            @include flexRowSB;
            gap: 3em;
        }
    }
}

@import '../layouts/collapse';