header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em 0 2em;

    .logo {
        width: 10%;
        padding-left: 5em;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 3.5em;
        padding-right: 5em;

        div {
            color: #000000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;

        &:active {
            text-decoration: underline;
        }
        }
    }

}