header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;

    .logo {
        width: 20%;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: 3.5em;

        a {
            color: #000000;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
        }

        .index:hover {
            text-decoration: underline;
        }

        .about:hover {
            text-decoration: underline;
        }
    }

}