@import '../details/mixin';

.errorPageContainer {
    @include flexCCC;
    gap: 5em;
    padding: 6em 0 ;

    img {
        width: 70%;
    }

    p, .errorLineHomeLink {
        font-weight: 500;
    }

    p {
        color: #FF6060;
        font-size: 3.5em;
        font-family: 'Montserrat';
        text-align: center;
    }

    .errorLineHomeLink {
        font-size: 1.5em;
        text-decoration: underline;
        color: #000000;
    }
}