@mixin flexcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexSaC {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin flexEndC {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}